@import 'https://fonts.googleapis.com/css?family=Bitter';

body {
    font-family: 'Bitter', sans-serif !important;
}

p,li {
    font-size: 24px !important;
}

h1 {
    font-size: 40px !important;
    font-weight: 700;
}

h2 {
    font-size: 36px !important;
    font-weight: 700;
}

h3 {
    font-size: 32px !important;
    font-weight: 700;
}

h4 {
    font-size: 28px !important;
    font-weight: 700;
}

.authors {
    text-align:center;
    font-style:italic;
    font-weight:normal;
    font-size:14px !important;
}
